@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #160637;
  --color-grey: #8989a2;
  --color-purple: #722ed1;
  --color-blush: #f9f0ff;
  --transitionAll: all 0.3s linear;
  --transitionEase: 0.5s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--color-white);
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}
li {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
  /* background: unset; */
}
button {
  cursor: pointer;
}
/*navbar animation*/

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
