.tech__header h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  padding: 0.25rem 0 1rem 0;
}
.tech__header h1 span {
  display: inline-block;
  font-weight: 600;
  background: var(--color-harp);
  padding: 0 1rem;
  color: var(--color-blue);
}
.tech__header-btn {
  margin-top: 2rem;
  gap: 2rem;
}
.tech__header-price {
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .tech__header h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .tech__header-btn {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .tech__header h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
