.tech__header h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  padding: 0.25rem 0 1rem 0;
}
.tech__header h1 span {
  display: inline-block;
  font-weight: 600;
  background: var(--color-harp);
  padding: 0 1rem;
  color: var(--color-blue);
}
.tech__header-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.tech__header-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.tech__header-price p:first-child {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.tech__header-price p:last-child {
  color: var(--color-grey);
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .tech__header h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .tech__header-btn {
    flex-direction: column;
  }
}
