.section__padding {
  padding: 4rem 6rem;
}
.section__margin {
  margin: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.app__gradient {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008bf0 -13.2%, #d943c9 130.95%);
}

.custom__button {
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 1rem 2rem;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  transition: var(--transitionAll);
}
.custom__button:hover {
  color: var(--color-blue);
  background: var(--color-white);
}
.h2__headtext {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark);
}
.p__subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-lightRed);
}
.p__content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey);
}
.p__price {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.retail__price {
  color: var(--color-grey);
  text-decoration: line-through;
}
@media screen and (min-width: 2000px) {
  .custom__button,
  .p__subtitle {
    font-size: 1.5rem;
  }

  .p__content {
    font-size: 1.25rem;
  }

  .h2__headtext {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1199px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }
}

@media screen and (max-width: 992px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }

  .p__content,
  .p__subtitle {
    font-size: 14px;
  }
  .h2__headtext {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .p__content,
  .p__subtitle {
    font-size: 12px;
  }
  .h2__headtext {
    font-size: 1.75rem;
  }
  .app__wrapper_img img {
    width: 100%;
  }
}
